
@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Layout/_Layout.cshtml";
}




@section content{


    <script>
        $.ajax({
            url: '/DeMucLop/getDeMucLop',
            type: 'GET',
            dataType: "json",
            success: function (data) {
                //called when successful

                data.forEach(element => {

                    $("#lop" + element.IDLop + "").append("<a class='dropdown-item' href='/BaiViet/Show/" + element.ID + "'>" + element.TenDeMuc + "</a>");

                });

            },
            error: function (e) {

            }

        });
    </script>

    <script>
        var app = angular.module("myApp", []);

        app.controller("myCtrl", function ($scope, $http) {
            $http.get("/DeMucLop/getDeMucLop").then(function (response) {
                $scope.dsDeMucLop = response.data;
            });

            // table control
            $scope.orderbyme = function (x) {
                $scope.myOrderBy = x;
            }
        });
    </script>

}


<div class="container-fluid" style="min-height:400px" ng-app="myApp" ng-controller="myCtrl">
    <div class="row">
        <div class="col-md-2" style="overflow:auto">

            <ul id="left-bar">
                <li style="list-style: none">
                    <h5 style="padding:10px;">Mục Lục Chương</h5>

                </li>
                <li style="list-style: none" ng-repeat="x in dsDeMucLop | orderBy:myOrderBy | filter : search">
                    <a class='dropdown-item' href="/BaiViet/Show/{{x.ID}}">{{x.TenDeMuc}}</a>

                </li>

            </ul>

        </div>
        <div class="col-md-10 text-center">

            <h2 style="padding:30px;margin:10px;">@ViewBag.TenDeMuc</h2>


            <h2 class="text-center"> Kết quả tìm kiếm</h2>
            <br />
            <div class="row">
                <div class="col-md-2">

                </div>
                <div class="col-md-offset-4">
                    <h3>Các Chương Tìm Kiếm</h3>

                    <ul>

                        @foreach (var item in ViewBag.DeMucLop)
                        {
                            <li style="list-style: none">
                                <a href="/BaiViet/Show/@item.ID">@item.TenDeMuc</a>
                            </li>

                        }

                    </ul>

                </div>


            </div>
            <div class="row">
                <div class="col-md-2">

                </div>
                <div class="col-md-offset-4">
                    <h3>Các Bài Tìm Kiếm</h3>

                    <ul>

                        @foreach (var item in ViewBag.BaiViet)
                         {
                            <li style="list-style: none">
                                <a href="/BaiViet/Detail/@item.ID">@item.TenBaiViet</a>
                            </li>

                        }

                    </ul>
                </div>



            </div>




        </div>
    </div>

</div>
<style>
    #left-bar > li > a:hover {
        color: white;
        background: #38903a;
    }
</style>
