@{
    Layout = null;
}

<!doctype html>
<html lang="en">

<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Boosstrap 4-->
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <script src="~/Content/jquery.min.js"></script>
    <script src="~/Content/popper.min.js"></script>
    <script src="~/Content/bootstrap.min.js"></script>
    <script src="~/Content/js/angular.min.js"></script>
    <!-- Icon -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Bootstrap CSS -->
    <!-- Link-->
    <script src="~/Content/js/index.js"></script>
    <link rel="stylesheet" href="~/Content/css/index.css">

</head>

<body>
    <div class="container-fluid banner">
        <div class="row">
            <div class="col-md-2">
                <div class="logo">

                </div>
            </div>
            <div class="col-md-5">
                <div class="slogan">
                    WEBSITE GIÁO DỤC TOÁN
                </div>
            </div>
            <div class="col-md-2">
                <div class="link-contact"></div>
            </div>
            <div class="col-md-3">
                <form class="form-inline my-2 my-lg-0 from-search" action="/DeMucLop/Search" method="post">
                    <input name="query" class="form-control mr-sm-2" type="text" placeholder="Tìm Kiếm">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>


        </div>


    </div>
    <!-- navbar-->

    <nav style="background-color:#38903a" class="navbar navbar-expand-md navbar-light sticky-top ">
   
        <button class="navbar-toggler hidden-lg-up" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
                aria-expanded="false" aria-label="Toggle navigation"></button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav mr-auto ml-auto mt-2 mt-lg-0">
                <!--lớp 1-->
                <li class="nav-item" >
                    <a class="mr-auto navbar-brand" href="/Home">
                        <img width="30px" height="30px" src="~/Content/image/icon.png" />
                    </a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Lớp 1</a>
                    <div id="lop1" class="dropdown-menu" aria-labelledby="dropdownId">
                       
                    </div>
                </li>
                <!-- lớp 2-->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Lớp 2</a>
                    <div id="lop2" class="dropdown-menu" aria-labelledby="dropdownId">
                        
                    </div>
                </li>
                <!-- lớp 3-->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Lớp 3</a>
                    <div id="lop3" class="dropdown-menu" aria-labelledby="dropdownId">
                      
                    </div>
                </li>
                <!-- lớp 4-->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Lớp 4</a>
                    <div id="lop4" class="dropdown-menu" aria-labelledby="dropdownId">
                        
                    </div>
                </li>
                <!-- lớp 5-->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Lớp 5</a>
                    <div id="lop5" class="dropdown-menu" aria-labelledby="dropdownId">
                    
                    </div>
                </li>
                <!-- lớp 6-->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Lớp 6</a>
                    <div id="lop6" class="dropdown-menu" aria-labelledby="dropdownId">
                       
                    </div>
                </li>
                <!-- lớp 7-->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Lớp 7</a>
                    <div id="lop7" class="dropdown-menu" aria-labelledby="dropdownId">
                        
                    </div>
                </li>
                <!-- lớp 8-->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Lớp 8</a>
                    <div id="lop8" class="dropdown-menu" aria-labelledby="dropdownId">
                        
                    </div>
                </li>
                <!-- lớp 9-->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Lớp 9</a>
                    <div id="lop9" class="dropdown-menu" aria-labelledby="dropdownId">
                        
                    </div>
                </li>
                <!-- lớp 10-->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Lớp 10</a>
                    <div id="lop10" class="dropdown-menu" aria-labelledby="dropdownId">
                       
                    </div>
                </li>
                <!-- lớp 11-->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Lớp 11</a>
                    <div id="lop11" class="dropdown-menu" aria-labelledby="dropdownId">
                        
                    </div>
                </li>
                <!-- lớp 12-->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Lớp 12</a>
                    <div id="lop12" class="dropdown-menu" aria-labelledby="dropdownId">
                       
                    </div>
                </li>

            </ul>

        </div>
    </nav>

    @RenderBody()

    <!-- contact-->

    <div class="container-fluid bg-grey contact">
        <h2 class="text-center">Liên Hệ</h2>
        <div class="row">
            <div class="col-sm-5">
                <p>Liên hệ với chúng tôi để nhận được phản hồi trong 24 giờ</p>
                <p>
                    <span class="glyphicon glyphicon-map-marker"></span> Việt Nam
                </p>
                <p>
                    <span class="glyphicon glyphicon-phone"></span> +00 1515151515
                </p>
                <p>
                    <span class="glyphicon glyphicon-envelope"></span> myemail@something.com
                </p>
            </div>
            <div class="col-sm-7">
                <div class="row">
                    <div class="col-sm-6 form-group">
                        <input class="form-control" id="name" name="name" placeholder="Họ Tên" type="text" required>
                    </div>
                    <div class="col-sm-6 form-group">
                        <input class="form-control" id="phone" name="phone" placeholder="Số Điện Thoại" type="text" required>
                    </div>
                </div>
                <textarea class="form-control" id="comments" name="comments" placeholder="Nội Dung" rows="5"></textarea>
                <br>
                <div class="row">
                    <div class="col-sm-12 form-group">
                        <button class="btn btn-default pull-right" type="submit">Gửi</button>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <!-- address-->

    <div class="container-fluid bg-black">
        <div class="container">
            <div>Copyright Ⓒ 2018 by Chalky</div>
            <div>Chịu trách nhiệm nội dung: Chalky • © 2016 Công ty abc</div>
            <div>Địa chỉ: Tây hồ, Hà Nội</div>
            <div>Liên hệ:</div>
            <div>Email: nguyenducluong.vn@gmail.com</div>
            <div>Hotline: 0961023595</div>
        </div>

    </div>

</body>

@RenderSection("content",required:false)

</html>
<style>
    #collapsibleNavId > ul > li {
        margin: 0 10px;
    }
     .navbar-nav > li > div >a:hover{
          color: white;
        background: #38903a;
    }
</style>