<h2>Soạn b&agrave;i: Con Rồng ch&aacute;u Ti&ecirc;n</h2>
<p><strong>Bố cục:</strong></p>
<p>&nbsp;&nbsp;&nbsp;- Phần 1 (Từ đầu ...&nbsp;<em>Long Trang</em>): giới thiệu Lạc Long Qu&acirc;n v&agrave; &Acirc;u Cơ.</p>
<p>&nbsp;&nbsp;&nbsp;- Phần 2 (tiếp ...&nbsp;<em>l&ecirc;n đường</em>): việc sinh con v&agrave; chia con.</p>
<p>&nbsp;&nbsp;&nbsp;- Phần 3 (c&ograve;n lại): việc lập nước Văn Lang v&agrave; nguồn gốc d&acirc;n tộc Việt.</p>
<div>&nbsp;</div>
<p><strong>T&oacute;m tắt:</strong></p>
<p><em>Lạc Long Qu&acirc;n l&agrave; thần thuộc n&ograve;i rồng, một lần l&ecirc;n cạn diệt y&ecirc;u qu&aacute;i đ&atilde; gặp v&agrave; kết duy&ecirc;n c&ugrave;ng &Acirc;u Cơ họ Thần N&ocirc;ng. Sau đ&oacute;, &Acirc;u Cơ đẻ một bọc trăm trứng, nở ra một trăm người con trai. Lạc Long Qu&acirc;n vốn quen dưới nước, đ&agrave;nh chia c&aacute;ch &Acirc;u Cơ. Năm mươi người con theo mẹ l&ecirc;n n&uacute;i, năm mươi theo cha xuống biển, hẹn kh&oacute; khăn gi&uacute;p đỡ. Người con trưởng theo &Acirc;u Cơ l&agrave;m vua, hiệu H&ugrave;ng Vương, lập nước Văn Lang. Đ&oacute; l&agrave; nguồn gốc nước Việt b&acirc;y giờ.</em></p>
<h2>Đọc hiểu văn bản</h2>
<p><strong>C&acirc;u 1 (trang 8 sgk Ngữ Văn 6 Tập 1):</strong></p>
<p>&nbsp;&nbsp;&nbsp;Về nguồn gốc, h&igrave;nh dạng Lạc Long Qu&acirc;n v&agrave; &Acirc;u Cơ:</p>
<p>&nbsp;&nbsp;&nbsp;- Lạc Long Qu&acirc;n n&ograve;i rồng, con trai thần Long Nữ. Th&acirc;n m&igrave;nh rồng, thường ở dưới nước, sức khỏe v&ocirc; địch, diệt y&ecirc;u trừ ma.</p>
<p>&nbsp;&nbsp;&nbsp;- &Acirc;u Cơ d&ograve;ng họ Thần N&ocirc;ng, xinh đẹp.</p>
<div>&nbsp;</div>
<p><strong>C&acirc;u 2 (trang 8 sgk Ngữ Văn 6 Tập 1):</strong></p>
<p>&nbsp;&nbsp;&nbsp;- Kết duy&ecirc;n v&agrave; đẻ bọc trứng: nước &ndash; cạn l&agrave; hai m&ocirc;i trường sống t&aacute;ch biệt; bọc trăm trứng nở ra trăm con kh&ocirc;ng cần b&uacute; mớm m&agrave; vẫn lớn nhanh như thổi.</p>
<p>&nbsp;&nbsp;&nbsp;- Lạc Long qu&acirc;n v&agrave; &Acirc;u Cơ chia con để khi c&oacute; việc gi&uacute;p đỡ lẫn nhau, đ&acirc;y l&agrave; sự ph&aacute;t triển của cộng đồng mở mang đất nước.</p>
<p>&nbsp;&nbsp;&nbsp;- Theo truyện, người Việt Nam l&agrave; con ch&aacute;u vua H&ugrave;ng, nguồn gốc rồng ti&ecirc;n.</p>
<p><strong>C&acirc;u 3 (trang 8 sgk Ngữ Văn 6 Tập 1):</strong></p>
<p>&nbsp;&nbsp;&nbsp;Chi tiết&nbsp;<em>tưởng tượng k&igrave; ảo</em>&nbsp;l&agrave; chi tiết hư cấu hoang đường, được s&aacute;ng tạo c&oacute; mục đ&iacute;ch. Ch&uacute;ng tạo sự hấp dẫn, m&agrave;u sắc thần thoại, t&ocirc; đậm t&iacute;nh k&igrave; lạ, cao qu&yacute; của nh&acirc;n vật, suy rộng ra nguồn gốc Rồng Ti&ecirc;n của người Việt.</p>
<p><strong>C&acirc;u 4 (trang 8 sgk Ngữ Văn 6 Tập 1):</strong></p>
<p>&nbsp;&nbsp;&nbsp;&Yacute; nghĩa c&acirc;u chuyện : giải th&iacute;ch, t&ocirc;n vinh nguồn gốc cao đẹp của d&acirc;n tộc, đồng thời thể hiện ước nguyện đo&agrave;n kết d&acirc;n tộc anh em mọi miền đất nước.</p>
<div>&nbsp;</div>
<h2>Luyện tập</h2>
<p><strong>C&acirc;u 1* (trang 8 sgk Ngữ Văn 6 Tập 1):</strong></p>
<p>&nbsp;&nbsp;&nbsp;Một số truyện c&aacute;c d&acirc;n tộc kh&aacute;c ở Việt Nam cũng giải th&iacute;ch nguồn gốc d&acirc;n tộc tương tự truyện&nbsp;<em>Con Rồng ch&aacute;u Ti&ecirc;n</em>:</p>
<p>&nbsp;&nbsp;&nbsp;-&nbsp;<em>Quả trứng to nở ra con người</em>&nbsp;của d&acirc;n tộc Mường.</p>
<p>&nbsp;&nbsp;&nbsp;-&nbsp;<em>Quả bầu mẹ</em>&nbsp;của d&acirc;n tộc Khơ M&uacute;.</p>
<p>&nbsp;&nbsp;&nbsp;Sự giống nhau ấy cho thấy sự tương đồng c&aacute;ch giải th&iacute;ch nguồn gốc v&agrave; sự giao thoa văn h&oacute;a c&aacute;c tộc người tr&ecirc;n nước ta.</p>
<p><strong>C&acirc;u 2 (trang 8 sgk Ngữ Văn 6 Tập 1):</strong></p>
<p>&nbsp;&nbsp;&nbsp;Xem lại phần t&oacute;m tắt ở tr&ecirc;n.</p>
